#about-head{

    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover !important;
    background: #462AA1;


    .about-text{
text-align: center;
position: relative;

img{
    @include Img($pos:absolute,$left:19%,$top:32%);
    animation: triangle 5s linear infinite;
}

.left-circle{
    @include Img($pos:absolute,$left:0,$top:21%);

}
.circle{
    @include Img($pos:absolute,$left:82%,$top:20%);
}

.circle-2{
    @include Img($pos:absolute,$left:90%,$top:-86%);
}
        h3{
            @include Text($f_weight:600,$f_size:60px,$colrs:#ffffff);
    margin-bottom: 15px;
        }

        .about-info{
@include Flex($j_content:center,$a_items:center);

            a{  @include Text($f_weight:700,$f_size:15px);
                color: $nvbr_grnd; 
            }

            p{
                @include Text($f_weight:700,$f_size:15px);
                padding-left: 14px;
                color: $nvbr_grnd;
             

              /*   &::before{
                    content: ".";
                    font-family: "Open Sans", sans-serif;
                    font-size: 30px;
                    color: #ffffff;
                    line-height: 12px;
                    padding-right: 14px;
                    margin: 0;
                } */
            }
        }
    }
}


@keyframes triangle{
0%{
   
    transform: rotate(0);

}
100%{

    transform: rotate(360deg);
}

}



#progress{

    /*  background-color: #1c7df8; */
    @include Img($pos:fixed,$botom:20px,$right:10px,$heit:60px,$wid:60px,$z_index:999,);

 cursor: pointer;
     display: none;
     align-items: center;
     border-radius: 50%;
     justify-content: center;
 
 
     .progress-value{
 
         display: block;
         height: calc(100% - 15px);
         width: calc(100% - 15px);
         background-color: $nvbr_grnd;
         @include Flex($j_content:center,$a_items:center);
         @include Text($f_size:35px,$colrs:#1c7df8,$radius:50%);
         
     }
 }

#marketing-area{
    padding: 90px 0px 0px 0px;
    .text-area{
text-align: center;

h3{
@include Text($f_size:46px,$colrs:#0f1432,$f_weight:700,$l_heit:1.2);
    margin-bottom: 15px;
    margin-top: 0px;
    
}


p{
    @include Text($f_size:15px,$colrs:#57556a,$f_weight:600,$l_heit:26px);
 
    margin-bottom: 15px;
    padding: 0px 0px 10px 0px;
}

    }
    .card-about{
    
        padding: 40px 60px;
        box-shadow: 0px 30px 70px 0px rgba(11, 6, 70, 0.08);
       background: $b_ground;
       border-radius: 6px;
       height: 100%;
       @include Flex($f_direction:column,$a_items:center,$j_content:center);
    

       .img-area{
     
width: 272px;
height: 159px;
        img{

            width: 100%;
            
        }

       
       }

       .card-info{
        padding-top: 32px;
        h3{
             
         
            font-size: 24px;
            color: #070337;
            margin-top: 0px;
            font-weight: 700;
            line-height: 1.2;
            font-family: "Open Sans", sans-serif;
        }

        p{
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 600;
            color: #6c6a8a;
            margin-bottom: 20px;
            padding-right: 50px;
            line-height: 26px;
            margin-top:5px ;
        }

        span{
            font-family: "Open Sans", sans-serif;
            position: relative;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            color: #0a0030;
        }
    }
    }
}


#protoyping-area{
    padding-bottom: 45px;
    padding-top: 45px;
  
    .left-side{

      .left-info{

        h3{
            font-size: 42px;
            font-weight: 800;
            color: #070337;
            margin-bottom: 25px;
            
            margin-top: 0px;
            line-height: 1.2;
        } 

        p{

            
                font-family: "Open Sans", sans-serif;
                font-size: 17px;
                font-weight: normal;
                color: #6c6a8a;
                margin-bottom: 15px;
                line-height: 26px;

            
        
      }
      
      a{

        font-size: 15px;
    color: #ffffff;
    background: #7127ea;
    height: 48px;
    line-height: 44px;
    border: 2px solid #7127ea;
    text-align: center;
    padding: 0 36px;
    display: inline-block;
    font-weight: 600;
    border-radius: 6px;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .2s all;
    margin-top: 40px;
  

    &:hover{
        color:#fff;
        box-shadow: 0px 20px 60px 0px rgba(15, 0, 40, 0.2);

      
        
    }
      }
    }
    
    }

    .img-right{

        margin-left: 40px;

        @media (max-width:560px) {
            margin-left: 0;
        }
        img{

            border-radius:20px;
            width: 100%;
            height: 100%;
        }
    }
}


#accordion_area{

    padding: 140px 0px 135px 0px;

  
 .accordion_part{
    padding: 0 40px;
    border-top: 3px solid #2f80ed;
    box-shadow: 0px 30px 70px 0px rgba(11, 6, 70, 0.08), inset 0px 3px 0px 0px rgba(47, 128, 237, 0.004);
    border-radius: 20px;
  .content_part{
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #eaedff;
    &.active{
        .content_area{
            height: 150px;

           }
           .label::before{
           content: "-";
           }
        }
    }
    .label{

        position: relative;

     
&::before{
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
        h2{
            font-size: 22px;
            font-weight: 600;
            color: #021937;
            border: none;
            padding: 0;
            background: none;
            text-align: left;
   
        }
    }

    .content_area{
        padding-top: 20px;
        position: relative;
        height: 0;
        overflow: hidden;
        transition: 0.5s all;
      
        p{
            font-size: 17px;
            color: #474554;
            font-weight: 600;
            margin-bottom: 0;
            line-height: 26px;
            
        }
    }
  }

  .faq_info_part{
/* max-width: 500px; */
text-align: center;
/* margin: 0px 0px 0px 100px;
padding: 0px 12px; */
margin-left: 20px;

@media (max-width:575px) {
    margin-top: 40px;
margin-left: 0;
    
}
    h3{
        color: #070337;
    margin-bottom: 15px;
    line-height: 1.3;
    font-size: 44px;
    font-weight: 700;
   

    @media (max-width:575px) {
    font-size: 28px;
    text-align: left;
        
    }
    }

    p{

        font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-left: 10px;
    color: #6c6a8a;
    margin-bottom: 15px;
    line-height: 26px;
    font-weight: 600;

    
    @media (max-width:575px) {
        text-align: left;
        margin-left: 0;
            
        }
    }
  }


 }


 #promotion{
    
    padding-bottom: 180px;
    padding-top: 30px;
    background: #005ad3;

    @media (max-width:576px) {
        padding-bottom: 50px;
     }


    .left_side{
        padding-left: 70px;
transform: translateY(50%);
margin-left: auto;
@media (max-width:576px) {
   padding-left: 0;
   transform: translateY(0%);
}
        h3{
        
            font-size: 36px;
            color: #ffffff;
            margin-bottom: 15px;
            
     margin-top: 0px;
    font-weight: 700;
    line-height: 1.2;

    @media (max-width:1024px) {
        font-size: 32px;
    }

        }

        p{
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 35px;
            
            font-size: 17px;
            line-height: 26px;

        }
        .button_area{
            @extend %_button_white
        }
    }
    .right_side{
        transform: translateY(50%);
        padding-left: 70px;

        @media (max-width:576px) {
            padding-left: 0;
            transform: translateY(0%);
         }
                h3{
                
                    font-size: 36px;
                    color: #ffffff;
                    margin-bottom: 15px;
                    
             margin-top: 0px;
            font-weight: 700;
            line-height: 1.2;
            @media (max-width:1024px) {
                font-size: 32px;
            }
        
                }
        
                p{
                    color: #ffffff;
                    font-weight: 600;
                    margin-bottom: 35px;
                    
                    font-size: 17px;
                    line-height: 26px;
        
                }
                .button_area{
                    @extend %_button_white
                }
            }
        }