#wetland-header {
    border-top: 4px solid #f385df;
    padding: 0 20px;



  
  
    .header-nav {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
     @include Flex($a_items:center,$j_content:space-between);
      .logo-menu {
       display: flex;
       @include Flex($a_items:center);
  
        .logo-img-div {
  display: inline-block;
  width: 176px;
  padding:15px 33px 15px 0 ;
          img {
            @include Img($wid:100%,$heit:100%,$o_fit:contain);
          }
        }
  
        .menu-container {
            display: flex;
        display: inherit;
        padding: 0 0 0 52px;
          list-style: none;
          margin: 0;
  @include Flex($gap:35px,$j_content:space-between);
  
          .menu-item-li {
            position: relative;
            list-style-type: none;
            .item-link {
              @include Text($t_decoration:none,$f_size:16px,$f_weight:600,$colrs:#070337,$l_heit:26px,);
              display: inline-block;
              padding: 30px 0;
              font-family: $f_primary;
              transition: color 0.15s ease-in-out;
  
              span {
                vertical-align: sub;
                @include Text($f_size:18px,$l_heit:0px);
              }
  
              &:hover {
            
                color:  $brd_tp;
              }
            }
  
            .inside-items-container {

              @include Flex($f_direction:column,$a-items:stretch,);
              @include Img($pos:absolute,$top:100%,$left:0,$z_index:999,$opacity:0);
              display: flex;
              padding: 0;
              visibility: hidden;
              box-shadow: $nvbr_bx_shdw;
              list-style: none;
              min-width: 200px;
              transform: translateY(15px);
             transition: transform 0.45s, opacity 0.45s;
              .inside-item-li {
               
                .inside-link {
                  @include Text($radius:0 0 1px 0,$l_heit:26px,$t_decoration:none,$f_weight:600,$f_size:13px,$colrs:#070337);
                  display: inherit;
                  padding: 10px 25px;
                  position: relative;
                  background-color: $nvbr_grnd;
                  z-index: 0;
                  transition: color 0.3s;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
  
                  &::before {
                   
                    content: "";
                    @include Img($wid:100%,$heit:100%,$pos:absolute,$top:0,$left:0,$z_index:-1,);
                    background-color:$brd_tp;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s, color 0.3s;
                  }
  
                  &:hover {
                    color:#fff;
  
                    &::before {
                      transform: scaleX(1);
                      transform-origin: left;
                    }
                  }
                }
              }
            }
  
            &:hover {
              .inside-items-container {
                transform: translateY(0);
                opacity: 1;
  
                .inside-item-li {
                  
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
  
      .acount-buttons {
      
        display: flex;
        @include Flex($a-items:center,$gap:30px); 
        .login {
          
           line-height: 40px;
            font-weight: 600;
             display: inherit;
            border-style: none;
            font-size: 15px;
            color:$login_blck;
            background: transparent;
            padding: 0;
           transition: 0.2s color;
  
          &:hover {
           
            color:$brd_tp;

          }
        }
  
        .get-started {
          @include Img($z_index:0,$pos:relative,$flow:hidden);
          @include Text($l_heit:40px,$f_size:15px,$f_weight:600,$radius:6px);
            color: $brd_tp;
            display: inherit;
            padding: 2px 20px;
            background-color: rgba(47, 128, 237, 0.08) ;
           border-style: none;
          transition: box-shadow 0.4s;
  
          &::before {
            @include Img($z_index:-1,$pos:absolute,$top:0,$left:50%);
            content: "";
            width: 130%;
            height: 100%;
            transition: transform 0.35s;
            transform: translateX(-50%) skewX(45deg) scaleX(0);
            background-color: $nvbr_grnd;
          }
  
          &:hover {
            box-shadow: 0px 20px 60px 0px rgba(15, 0, 40, 0.2);
            &::before {
              transform: translateX(-50%) skewX(45deg) scaleX(1);
            }
          }
        }
  
        .mobile-menu-container {
          display: none;
          .menu-open-btn {
            @include Flex($j_content:space-between,$a_items:stretch,$f_direction:column,);
            width: 30px;
            height: 21px;
            background-color: transparent;
            border: none;
            transition: transform 0.3s;
  
            span {
                display: inline-block;
              height: 3px;
              background-color: $span_clr;
              transform-origin: right;
              transition: transform 0.3s;
            }
  
            &:hover {
              transform: rotate(-30deg);
  
              span:first-of-type {
                transform: scaleX(0.3);
              }
  
              span:nth-of-type(2) {
                transform: scaleX(0.65);
              }
            }
          }
  
          .fullscreen-container {
            @include Img($wid:0,$heit:100%,$pos:fixed,$top:0,$right:0,$botom:0,$z_index:999,);
            background-color: $full_clrs;
            .mobile-menu {
                display: block;
               width: 320px;
               height: 100%;
               padding: 30px;
               background-color:$nvbr_grnd;
               transform: translateX(100%);
               transition: transform 0.3s;
               position: absolute;
              top: 0;
              right: 0;
              .logo-img-div {
                display: inline-block;
                height: 42px;
                margin: 0 0 40px 0;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              .acordion-menu {
                list-style: none;
  
                .menu-item {
                  color: $menu_blck;
                  .menu-item-link_open {
                    display: flex;
                    border-color:rgba(0, 0, 0, 0.1) ;
                   border-width: 0 0 1px 0;
                   font-size: 13px;
                   font-weight: 600;
                  line-height: 46px;
                    justify-content: space-between;
                    border-bottom: 1px solid #dedee3;
                   

                    .item-link{
                        width: 100%;
                        padding: 10px 0;
                        color: $menu_blck;
                       
                        font-size: 13px;
                        font-weight: 600;
                    }
  
                    .item-open {
                        display: flex;
                      border: rgba(0, 0, 0, 0.1) solid;
                      border-width: 0 0 0 1px;
                      
                      cursor: pointer;
  
                      span {
                        padding: 10px;
                        transition: transform 0.3s;
                        font-size: 20px;
                      }


                    }
  
                    .item-close {
                      span {
                        transform: rotate(45deg);
                       
                      }
                    }

                  }
  
                  .inside-items {
                    list-style: none;
                    display: none;
                    .inside-item {
                        padding: 19px 26px;
                        border-bottom: 1px solid #dedee3;
                      .inside-item-link {
                        
    font-size: 13px;
    font-weight: 600;
    width: 80%;
   
                        padding: 0 26px;
                        color: $menu_blck
                      }
                    }
                  }
  
                  .inside-items-open {
                    display: block;
  
                   
                  }
                }
              }
  
              .mobile-login {
                @include Text($l_heit:40px,$f_size:15px,$f_weight:600,$radius:4px,);
               @include Img($pos:relative,$wid:100%,$z_index:0,$flow:hidden,);
                background-color: $nvbr_grnd;
                color:$brd_tp ;
                display: block;
                border-color: $brd_tp;
                border-width: 2px;
                padding: 0 30px;
                margin: 15px 0;
                 
            
                  &::before {
                    content: "";
                    @include Img($pos:absolute,$wid:130%,$z_index:-1,$heit:100%,$left:50%,$top:0);
                    transition: transform 0.35s;
                    transform: translateX(-50%) skewX(45deg) scaleX(0);
                    background-color: $brd_tp;
                  }
            
                  &:hover {
                    color: #fff;
                    &::before {
                      transform: translateX(-50%) skewX(45deg) scaleX(1);
                    }
                  }
              }
  
              .mobile-get-started {
               
                background-color: $brd_tp;
                color: $nvbr_grnd;
                @include Img($pos:relative,$wid:100%,$heit:44px,$z_index:1,$flow:hidden,);
                @include Text($f_size:15px,$radius:6px,$t_transform:capitalize,$l_heit:40px,$t_align:center,$f_weight:600);
                  padding: 0 30px;
                  display: inline-block;
   
   
             
  
                &::before {
                  color:$nvbr_grnd;
                
                }
  
                &:hover {
                  background-color: $brd_tp;
                }

                
              }
            }
          }
  
          .fullscreen-container-open {
            width: 100%;
            .mobile-menu {
              transform: translateX(0);
            }
          }
        }
      }
    }
  
    @media (max-width: 1199px) {
      .header-nav {
        max-width: 960px;
  
        .logo-menu {
          .menu-container {
          
            gap: 19px;
            display: inherit;
            padding: 0 0 0 13px;
           
          }
        }
      }
    }
  
    @media (max-width: 991px) {
      .header-nav {
        max-width: 720px;
        .logo-menu {
          .menu-container {
           display: none;
          }
        }
  
        .acount-buttons {
          .mobile-menu-container {
            display: block;
          }
        }
      }
    }
  
    @media (max-width: 767px){
      .header-nav{
        max-width: 540px;
  
        .logo-menu{
          .logo-img-div {
            display: block;
            width: 176px;
            padding: 15px 27px 15px 10px;
          }
        }
  
        .acount-buttons{
          .login{
            display: none;
          }
          .get-started{
            display: none;
          }
        }
      }
    }
  }


  .sticky {
    position: fixed;
    top: 0;
    right: 0;
    // left: 50%;
    // transform: translateY(-50%);
    width: 100%;
    z-index: 999;
    background-color: #fff;

} 
