$b_ground:#ffffff;
$f_primary:"Open Sans", sans-serif;
$b_colors:#FFF6FA;
$hvr_white:#e0e0e0;
$active_colors:#FE0C7D;
$swp_ground:#f4f9fd;
$swp_color:#116ae1;
$gray_colors:#6c6a8a;
$brd_tp:#2f80ed;
$brd_btm:#eaedff;
$txt_blck:#021937;
$txt_blue:#0d6efd;
$nvbr_bx_shdw:rgb(236, 236, 236) 0 0 30px 5px;
$nvbr_grnd:#fff;
$login_blck:#011224;
$span_clr:#5d41c2;
$full_clrs:rgba(0, 0, 0, 0.486);
$menu_blck:#222222;
$contact_blue: #462AA1;
$contc_bckrgnd:#f2f7ff;
$submit_clrs:#1c7df8;